body {
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}

.syntaxhighlighter {
    padding: .5em 0;
}

.Zebra_DatePicker .dp_daypicker .myclass {
    background: #E8E8E8 url('close.png') no-repeat center center;
    text-indent: -9999px;
}

.bootstrap .Zebra_DatePicker .dp_daypicker td.myclass_disabled {
    background: #FFF url('close.png') no-repeat center center;
    text-indent: -9999px;
}

