@use 'sass:color';

$dp_background: #373737;
$dp_border_radius: 4px;
$dp_box_shadow: 0px 0px 10px #888;
$dp_color: #fff;
$dp_font_size: 13px;
$dp_font_family: Tahoma, Arial, Helvetica, sans-serif;
$dp_padding_width_horizontal: 3px;
$dp_padding_width_vertical: 3px;

$dp_header_hover_background: color.adjust($dp_background, $lightness: 15%);
$dp_header_padding: 5px;

$dp_cell_border: 1px solid #bbb;
$dp_cell_hover_background: #67aabb;
$dp_cell_hover_color: #fff;
$dp_cell_min_width: 25px;
$dp_cell_padding: 5px;

$dp_weekday_background: #dedede;
$dp_weekday_color: #666;
$dp_weekday_disabled_background: #ececec;
$dp_weekday_disabled_color: #ccc;

$dp_weekend_background: color.adjust($dp_weekday_background, $lightness: -5%);
$dp_weekend_color: $dp_weekday_color;
$dp_weekend_disabled_background: $dp_weekday_disabled_background;
$dp_weekend_disabled_color: $dp_weekday_disabled_color;

$dp_not_in_month_background: color.adjust($dp_weekday_background, $lightness: 5%);
$dp_not_in_month_color: $dp_weekday_color;
$dp_not_in_month_disabled_background: $dp_weekday_disabled_background;
$dp_not_in_month_disabled_color: $dp_weekday_disabled_color;

$dp_current_date_color: #e26261;
$dp_current_date_disabled_color: color.adjust($dp_current_date_color, $lightness: 25%);

$dp_selected_date_background: #e26262;
$dp_selected_date_color: $dp_cell_hover_color;

$dp_heading_background: #f1f1f1;
$dp_heading_color: #666;

$dp_time_control_background: $dp_weekday_background;
$dp_time_control_color: $dp_weekday_color;

$dp_time_background: $dp_weekday_disabled_background;
$dp_time_color: $dp_weekday_color;
$dp_time_separator_color: $dp_cell_border;

@import '../template';
